.portfolio-cards, .portfolio-filter, .address__list,
.call-to-action__list, .clients-section__list, .socialcontacts__list, .team-section__list, .activities-section__list, .benefits-section__list, .mobile-social, .mobile-contacts__list, .mobile-menu__list, .header-contacts, .navigation__list {
  list-style: none;
}

.section-title-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.activities-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #212121;
  background-color: #ffffff;
}
@media screen and (min-width: 320px) {
  body {
    overflow-x: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  min-width: 320px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-title {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
  }
}
@media screen and (max-width: 1199px) {
  .section-title {
    margin-bottom: 30px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
}
@media screen and (max-width: 767px) {
  .header-container {
    height: 60px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
}

.logo {
  display: block;
  text-decoration: none;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: 0;
  color: #212121;
}
@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
.logo__text {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .menu-desktop {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .menu-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 88px;
}
@media screen and (min-width: 1200px) {
  .navigation {
    margin-left: 93px;
  }
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.navigation__item:not(:last-child) {
  margin-right: 50px;
}
.navigation__link {
  position: relative;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}

.navigation__link--current {
  color: #2196f3;
}

.navigation__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.header-contacts {
  margin-left: 84px;
}
@media screen and (min-width: 768px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 305px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts__item:not(:last-child) {
    margin-right: 30px;
  }
}

.header-contacts__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts__link:hover, .header-contacts__link:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts__link {
    font-size: 12px;
  }
}

.header-icon {
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .header-icon {
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .header-icon {
    margin-right: 10px;
  }
}

.menu-button {
  border: none;
  width: 40px;
  height: 40px;
  padding: 12px 8px;
  color: #212121;
  background-color: transparent;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-button:hover, .menu-button:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button__icon,
.close-menu {
  fill: currentColor;
  margin-top: -10px;
}

.close-menu {
  display: block;
  position: absolute;
  top: 21px;
  right: 25px;
  padding: 11px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.close-menu:hover, .close-menu:focus {
  color: #2196f3;
}

.menu-container {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 48px 40px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1001;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  background-color: #ffffff;
}
.menu-container.is-open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #2196f3;
}

.mobile-menu__link--current {
  color: #2196f3;
}

.mobile-contacts__list {
  margin-bottom: 64px;
}

.mobile-contacts__link {
  text-decoration: none;
  font-weight: 500;
}

.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts__link--phone {
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-contacts__link--email {
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.mobile-social__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-social__item:not(:last-child) .mobile-social__item:not(:first-child) {
  padding-left: 10px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-social .mobile-social__link {
  text-decoration: none;
  color: #2196f3;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.hero-section {
  min-height: 400px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(40%, rgba(47, 48, 58, 0.4)), color-stop(40%, rgba(47, 48, 58, 0.4))), url(../images/team.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 40%, rgba(47, 48, 58, 0.4) 40%), url(../images/team.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(40%, rgba(47, 48, 58, 0.4)), color-stop(40%, rgba(47, 48, 58, 0.4))), url(../images/480/hero_img.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 40%, rgba(47, 48, 58, 0.4) 40%), url(../images/480/hero_img.jpg);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(40%, rgba(47, 48, 58, 0.4)), color-stop(40%, rgba(47, 48, 58, 0.4))), url(../images/480/hero_img@2.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 40%, rgba(47, 48, 58, 0.4) 40%), url(../images/480/hero_img@2.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(40%, rgba(47, 48, 58, 0.4)), color-stop(40%, rgba(47, 48, 58, 0.4))), url(../images/768/hero_img768.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 40%, rgba(47, 48, 58, 0.4) 40%), url(../images/768/hero_img768.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(40%, rgba(47, 48, 58, 0.4)), color-stop(40%, rgba(47, 48, 58, 0.4))), url(../images/768/hero_img768@2.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 40%, rgba(47, 48, 58, 0.4) 40%), url(../images/768/hero_img768@2.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-section {
    min-height: 600px;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(40%, rgba(47, 48, 58, 0.4)), color-stop(40%, rgba(47, 48, 58, 0.4))), url(../images/1200/hero_img1200.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 40%, rgba(47, 48, 58, 0.4) 40%), url(../images/1200/hero_img1200.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(40%, rgba(47, 48, 58, 0.4)), color-stop(40%, rgba(47, 48, 58, 0.4))), url(../images/1200/hero_img1200@2.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 40%, rgba(47, 48, 58, 0.4) 40%), url(../images/1200/hero_img1200@2.jpg);
  }
}

.hero-section__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hero-section__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-section__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  margin: 0 auto;
  border: 0px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-section__button:hover, .hero-section__button:focus {
  background-color: #188ce8;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px rgba(0, 0, 0, 0.2), 0px 1px rgba(0, 0, 0, 0.14), 0px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px rgba(0, 0, 0, 0.2), 0px 1px rgba(0, 0, 0, 0.14), 0px 1px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 480px) {
  .modal {
    width: 95%;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.backdrop.is-hidden.modal {
  -webkit-transform: translate(-50%, -50%), translateX(-100%);
          transform: translate(-50%, -50%), translateX(-100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover, .close-button:focus {
  color: #2196f3;
  cursor: pointer;
}

.icon-close {
  fill: currentColor;
  width: 30px;
  height: 30px;
}

.modal__text {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin-top: 2px;
  margin-bottom: 30px;
}

.form-modal__label {
  position: relative;
  display: block;
  margin-bottom: 28px;
}

.form-modal__input {
  width: 100%;
  height: 40px;
  padding-left: 35px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-modal__input:hover {
  cursor: pointer;
}
.form-modal__input:focus {
  outline: none;
  border-color: #2196f3;
}

.form-modal__title {
  position: absolute;
  top: -20px;
  left: 0px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: #757575;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__input:focus ~ .form-icon {
  fill: #2196f3;
}

.form-modal__textarea {
  resize: none;
  width: 100%;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-modal__textarea:hover {
  cursor: pointer;
}
.form-modal__textarea:focus {
  outline: none;
  border-color: #2196f3;
}

.form-modal__label:nth-last-child(2) {
  margin-bottom: 20px;
}

.form-modal__label::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5019607843);
}

.form-modal__label::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5019607843);
}

.form-modal__label:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5019607843);
}

.form-modal__label::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5019607843);
}

.form-modal__label::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5019607843);
}

.conditions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.conditions__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 24px;
}

.conditions__checkbox-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}
.conditions__checkbox-input:checked ~ .conditions_checkbox-box {
  opacity: 1;
}

.conditions_checkbox-box--nochecked {
  display: block;
  position: absolute;
  width: 16px;
  height: 15px;
  left: 0;
  border-radius: 2px;
  border: 1px solid #212121;
}

.conditions_checkbox-box {
  position: absolute;
  opacity: 0;
  left: 0;
  opacity: 0;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agree-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2196f3;
  fill: #ffffff;
  border-radius: 2px;
  width: 16px;
  height: 15px;
}

.conditions__text {
  color: #757575;
}
@media screen and (max-width: 1199px) {
  .conditions__text {
    font-size: 12px;
  }
}

.conditions__link {
  color: #2196f3;
}

.modal__button {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  font-family: "Roboto", sans-serif;
  margin-top: 30px;
  border: none;
  border-radius: 4px;
  background-color: #188ce8;
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover, .modal__button:focus {
  background-color: #2196f3;
  cursor: pointer;
}

.benefits-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .benefits-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefits-section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.benefits-section__item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefits-section__item {
    margin: 15px;
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-section__item:not(:last-child) {
    margin-right: 30px;
  }
}

.benefits-section__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}
@media screen and (min-width: 480px) {
  .benefits-section__box {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .benefits-section__box {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-section__box {
    width: 270px;
  }
}

.benefits-section__subtitle {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: #212121;
}
@media screen and (max-width: 767px) {
  .benefits-section__subtitle {
    text-align: center;
  }
}

.benefits-section__text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.activities-section {
  padding-top: 0;
}
@media (max-width: 1199px) {
  .activities-section {
    display: none;
  }
}

.activities-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.activities-section__item {
  position: relative;
  border: none;
  max-height: 294px;
}

.activities-section__item:not(:first-child) {
  margin-left: 30px;
}

.activities-section__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

.activities-section__text {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.team-section {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 1199px) {
  .section-title__team {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team-section__item {
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .team-section__item {
    width: 450px;
  }
}
@media screen and (max-width: 767px) {
  .team-section__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-section__item {
    width: 354px;
  }
  .team-section__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
  .team-section__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-section__item:not(:first-child) {
    margin-left: 30px;
  }
  .team-section__item {
    width: 270px;
    height: 428px;
  }
}

.team-section__subtitle {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-section__text {
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
}

.team-section__meta {
  padding-top: 30px;
}

.socialcontacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 16px;
  padding-bottom: 24px;
}

.socialcontacts__item {
  width: 44px;
  height: 44px;
}

.socialcontacts__item:not(:first-child) {
  margin-left: 10px;
}

.socialcontacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socialcontacts__link:hover, .socialcontacts__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.team-icon {
  fill: currentColor;
}

.clients-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: -15px;
}

.clients-section__item {
  margin: 15px;
  height: 90px;
  width: calc((100% - 60px) / 2);
}
@media screen and (min-width: 768px) {
  .clients-section__item {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-section__item {
    width: calc((100% - 180px) / 6);
  }
}

.clients-section__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  border-radius: 4px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-section__link:hover, .clients-section__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.icon-client {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 1199px) {
  .footer-contacts {
    text-align: center;
  }
}

.logo--footer {
  color: #ffffff;
  padding-top: 0;
  padding-bottom: 0;
}

.logo__text--blue {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .logo__text--blue {
    font-size: 26px;
    line-height: 1.19;
  }
}

.footer-icon {
  fill: #ffffff;
}

address {
  font-style: normal;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__item:first-child {
  margin-top: 20px;
}

.address__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.address__link--white {
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .call-to-action {
    margin-top: 60px;
  }
}

.call-to-action__text {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .call-to-action__text {
    text-align: center;
  }
}

.call-to-action__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.call-to-action__item:not(:first-child) {
  margin-left: 10px;
}

.call-to-action__item {
  width: 44px;
  height: 44px;
}

.call-to-action__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1019607843);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.call-to-action__link:hover,
.call-to-action__link:focus {
  background-color: #2196f3;
}

@media screen and (max-width: 1199px) {
  .subscription {
    text-align: center;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.subscription__text {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  padding-top: 12px;
  color: #ffffff;
}

.subscription__input {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  padding: 15px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 1199px) {
  .subscription__input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 480px) {
  .subscription__input {
    min-width: 450px;
    min-height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__input {
    min-width: 358px;
  }
}

.subscription-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  padding: 10px 29px;
  margin-left: 12px;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription-button:hover, .subscription-button:focus {
  background-color: #188ce8;
  cursor: pointer;
}
@media screen and (max-width: 1199px) {
  .subscription-button {
    margin-left: auto;
    margin-right: auto;
  }
}

.icon-send {
  margin-left: 10px;
}

.portfolio-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .portfolio-filter {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-filter {
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1199px) {
  .portfolio-filter {
    margin-bottom: 50px;
  }
}

.portfolio-filter__item:not(:last-child) {
  margin-right: 8px;
}
@media screen and (max-width: 767px) {
  .portfolio-filter__item:not(:last-child) {
    margin-bottom: 15px;
  }
}

.portfolio-filter__button {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border: 0px;
  border-radius: 4px;
  background-color: #f5f4fa;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-filter__button:hover, .portfolio-filter__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px rgba(0, 0, 0, 0.12), 0px 1px rgba(0, 0, 0, 0.08), 0px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px rgba(0, 0, 0, 0.12), 0px 1px rgba(0, 0, 0, 0.08), 0px 3px rgba(0, 0, 0, 0.1);
}

.portfolio-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .portfolio-cards {
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-cards__item {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-cards__item {
    margin: 15px;
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (max-width: 767px) {
  .portfolio-cards__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.portfolio-cards__link {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-cards__link:hover, .portfolio-cards__link:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.portfolio-cards__wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-cards__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9019607843);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cards__link:hover .portfolio-cards__description,
.portfolio-cards__link:focus .portfolio-cards__description {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.portfolio-cards__overlay {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.portfolio-cards__meta {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-cards__meta {
    height: 146px;
  }
}

.portfolio-cards__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: #212121;
}

.portfolio-cards__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}/*# sourceMappingURL=main.css.map */