$primary-text-color: #212121;
$main-white-color: #ffffff;

$secondary-text-color: #757575;
$color-text-footer: #ffffff99;
$accent-color: #2196f3;
$primary-bg-color: #e5e5e5;
$secondary-bg-color: #f5f4fa;
$hero-bg-color: #2f303a;

$icon-color: #afb1b8;
$border-footer: #ececec;
$bg-social-links: #ffffff1a;
$input-footer-border: #ffffff4d;
$hover-button: #188ce8;
$backdrop: #00000033;
$button-close: #0000001a;
$border-modal: #21212133;
$label-modal: #75757580;
$wrapper-activities: #2f303acc;
$overlay-cards: #2196f3e6;
$border-cards: #eeeeee;
